
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Crypto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Monnaie</a>
      </li>
    </ul>
    <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:name, "Search for:") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag(:"Search") %>
    <% end %>
  </div>
</nav>


<table>
  <tr>
       <th>Currency name</th>
       <th>Currency value</th>
  </tr>
  <% @crypto.each do |currency, value|%>
  <tr>
       <td> <%= currency %>
       <td> <%= value %>
  </tr>
  <% end %>
</table>


<table class="table table-hover">
  <thead>
 <tr class="table-info">
      <th scope="row">Info</th>
      <td>Column content</td>
    </tr>
 </thead>
</table> 